<header  class="bg-header" ng-include="'template/menu/frontEnd/menu.html'">
</header>
    <!-- Page Content -->
    <div class="container"  >
      <div class="row main home"  >
        <div class="col-sm-8"  >
          <!-- list-course -->
          <div class="row text-muted subject" style="height:400px;"  >
            <div class=" col-sm-11 ml-4 mt-4 text-center" ng-init="vertify()">
              <div ng-if="comfirm" class="alert alert-success " role="alert">
                <strong>Well done!</strong> Your Email has been comfirmed successfully.
              </div>
            </div>

          </div>




        </div>
        <!-- right-bar -->
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="card " style="height:100px; margin-top:2%;">
                <div class="card-block text-center">

                </div>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card " style="height:400px; margin-top:2%;">
                <div class="card-block">

                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
      <!-- /.row -->

    </div>
    <br>







    <!-- /.container -->

    <!-- Footer -->




<!-- /.container -->

<!-- Footer -->
