
<!-- Page Content -->
<div class="container" >
    <div class="row main form"  >
        <div class="col-sm-12">
            <h4 style="color:#17A2B8; margin-top:1%;">Create New Class</h4>
            <hr>
        </div>

        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Course Name</label>
                <div class="col-9" ng-init="getCourse()">
                  <select class="form-control" name="course" ng-model="course" >
                    <option  ng-selected="true">--Select course--</option>
                    <option ng-repeat="course in courses" value="{{course.course_id}}">{{course.course_name}}</option>

                  </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Schedule</label>
                <div class="col-9" ng-init="getSchedule()">
                    <select class="form-control" name="schedule" ng-model="schedule" >
                      <option  ng-selected="true" value="">--Select schedule--</option>
                      <option  ng-repeat="schedule in schedules" value="{{schedule.schedule_time}}">{{schedule.schedule_time}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Facilitator</label>
                <div class="col-9" ng-init="getFacilitator()">
                    <select class="form-control" name="facilitator" ng-model="facilitator" >
                      <option  ng-selected="true" >--Select facilitator--</option>
                      <option  ng-repeat="facilitator in facilitators" value="{{facilitator.facilitator_firstname}}" >{{facilitator.facilitator_firstname}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Start Date</label>
                <div class="col-9">
                    <input class="form-control" ng-model="course-start-date" type="text" placeholder="Course Name">
                </div>
            </div>
        </div>

        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Duration</label>
                <div class="col-9">
                    <input class="form-control" ng-model="course-duration" type="text" placeholder="Course Name">
                </div>
            </div>
        </div>

        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Course Fee</label>
                <div class="col-9">
                    <input class="form-control" ng-model="course-fee" type="text" placeholder="Course Name">
                </div>
            </div>
        </div>



        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Cover Photo</label>
                <div class="col-9">
                    <input class="form-control" ng-model="course-cover" type="text" placeholder="Course Name">
                </div>
            </div>
        </div>

        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Video URL</label>
                <div class="col-9">
                    <input class="form-control" ng-model="course-video" type="text" placeholder="Course Name">
                </div>
            </div>
        </div>
        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Description</label>
                <div class="col-9">
                    <textarea class="form-control " ng-model="course-description" id="exampleTextarea" rows="8" type="text"></textarea>
                </div>
            </div>
        </div>

        <div class="col-sm-6"  >
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Other Info</label>
                <div class="col-9">
                    <textarea class="form-control " ng-model="course-other-info" id="exampleTextarea" rows="8" type="text"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12  text-center ">
                <button type="button" id="btnOk" ng-click="onSaveNextClick()" ng-model="btnSaveNext" class="btn btn-success " name="button">Save & Next</button>
                <button type="button" class="btn btn-info" ng-click="onSaveCloseClick()" ng-model="btnSaveClose" name="button">Save & Close</button>
            </div>
        </div>


    </div>
</div>
