    <any ng-include="'template/navigation/navigation.html'"></any>
    <!-- Page Content -->
    <div class="container"  ng-init="filterClass()">
      <form name="course">
        <input type="hidden" ng-model="id" value="">
      <div class="row main form"  >

          <div class="col-sm-12">
            <h4 style="color:#17A2B8; margin-top:1%;">Update Class</h4>
            <hr>
          </div>


        <!-- course name -->
        <div class="col-sm-12 text-center"  >
          <div class="form-group row ">
            <label class="col-3 col-form-label" for="exampleSelect1">Course</label>
            <div class="col-7" ng-init="getCourse()">
              <select class="form-control" ng-model="classCourse" >
                <option  ng-selected="true" value="">--Select Schedule--</option>
                <option ng-repeat="co in courses" ng-value="{{co.course_id}}">{{co.course_name}}</option>
              </select>
            </div>
          </div>
          <!-- schedule name -->
          <div class="form-group row">
            <label class="col-3 col-form-label" for="exampleSelect1">schedule</label>
            <div class="col-7" ng-init="getSchedule()">
              <select class="form-control" name="classSchedule" ng-model="classSchedule" >
                <option  ng-selected="true" value="">--Select Schedule--</option>
                <option ng-repeat="schedule in schedules" ng-value="{{schedule.schedule_id}}">{{schedule.schedule_time}}</option>
              </select>
            </div>
          </div>
          <!-- facilitator name -->
          <div class="form-group row">
            <label class="col-3 col-form-label" for="exampleSelect1">facilitator</label>
            <div class="col-7" ng-init="getFacilitator()">
              <select class="form-control" name="classFacilitator" ng-model="classFacilitator" >
                <option  ng-selected="true" value="">--Select Schedule--</option>
                <option ng-repeat="facilitator in facilitators" ng-value="{{facilitator.facilitator_id}}">{{facilitator.facilitator_firstname}} {{facilitator.facilitator_lastname}}</option>
              </select>
            </div>
          </div>
          <!-- start date -->
          <div class="form-group row">
            <label class="col-3 col-form-label" for="exampleSelect1">Start Date</label>
            <div class="col-7">
              <input class="form-control mydate"  ng-model="startDate" type="text" placeholder="start Date">
            </div>
          </div>
          <!-- class Turn -->
          <div class="form-group row" >
            <label for="example-text-input" class="col-3 col-form-label">Turn</label>
            <div class="col-7">
              <select class="form-control" ng-model="turn" >
                <option  ng-selected="true" value="">--Select Turn--</option>
                <option value="Monday-Friday">Monday-Friday</option>
                <option  value="Saturday-Sunday">Saturday-Sunday</option>
                <option  value="Mon-Fir(night)">Mon-Fir(night)</option>
                <option  value="Sat-Sun(night)">Sat-Sun(night)</option>
              </select>
            </div>
         </div>
          <!-- status -->
          <div class="form-group row">
            <label class="col-3 col-form-label" for="exampleSelect1">Status</label>
            <div class="col-7">
              <input class="form-control" name="video" ng-model="classStatus" type="text" placeholder="status">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12  text-center " style="margin-left:2%;">
            <button type="button" id="btnOk" ng-click="course.$valid && updateClass()" ng-model="btnSave" class="btn btn-success " name="button">Update</button>

            <button type="button" class="btn btn-primary " ng-click="btnCancel()" id="cancel" >Cancel</button>
          </div>
        </div>




      </div>
      <!-- /.row -->
    </form>

    </div>


    <br>
    <script type="text/javascript">
    $('.mydate').datepicker({
       format: "yyyy-mm-dd",
       clearBtn: true,
       autoclose: true
     });
    </script>

    <!-- /.container -->

    <!-- Footer -->
