<header  class="bg-header" ng-include="'template/menu/frontEnd/menu.html'">
</header>
  <!-- Page Content -->
  <div class="container"  >
    <div class="row main home"  >

      <div class="col-sm-8 ">

        <!-- list-course -->
        <div class="row subject" ng-init="showDetail()" >
          <div class="col-sm-12  " >
            <h3 style="color:#333;">{{courseData.course_name}}</h3>
            <hr>
          </div>
              <div class="col-sm-4" >
                <div class="course" style="margin-left:1%;">
                  <thumbnail file-type="image" source="{{base+courseData.course_cover}}" max-height="260"  max-width="260"></thumbnail>

                  <div class=" text-center price ">
                    <p >{{courseData.course_fee}}$/course</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-8 "  >
                <div class=" " style="margin-left:14%; color: #333;">
                  <p><strong>Start Date: </strong>{{courseData.class_start_date | date:'dd-MMMM-yyyy' }}</p>
                  <p><strong>Duration: </strong>{{courseData.course_duration }}</p>
                  <p><strong>Shedule: </strong>{{courseData.schedule_time }} </p>
                  <p><strong>Study Time: </strong>{{courseData.class_turn }}</p>
                  <p><strong>Members: </strong>{{members.totalMember }}
                    <span ><i class="fa fa-users" aria-hidden="true"></i></span>
                  </p>

                </div>
            </div>

        <div class="col-sm-12" style=" color: #333;">
          <p style="padding-top:5%;"><strong>Outline:</strong></p>
          <ANY ng-bind-html="courseData.course_outline"></ANY>
        </div>

      </div>
      <br>
      <div class="row" style="margin-left:4%; color:#17A2B8;">
        <h4>Recommended Coures</h4>
      </div>


        <div class=" bg-white course-slider" style="height:170px;  ">

          <div id="course" class="carousel slide  " style="top:5%;" data-ride="carousel">

            <div class="carousel-inner " role="listbox" ng-init="getListCourse()" >

              <div class="carousel-item active"  >
                <div class="col-sm-12 " >
                  <div class="row " >
                    <div class="col-sm-4 course-recommend" data-ng-repeat="recommend in listCourse |  limitTo:3 " ng-click="detail(recommend.class_id)" >
                      <thumbnail file-type="image" source="{{base+recommend.course_cover}}"  max-width="213"></thumbnail>


                        <div class="titleRecommend text-center">
                          <p >{{recommend.course_name}}</p>

                        </div>


                    </div>

                  </div>

                </div>
              </div>


            </div>

            </div>

            </div>
            <br>




    </div>

      <!-- right-bar -->
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <div class="card " style=" margin-top:2%;">

              <div class="card-block top-course">

                <div class="row">
                  <div class="col-sm-10  text-center" style="margin: 0 auto;">
                    <div class="alert alert-success " role="alert">
                      There are still room available for student to join this course. Please click button below to join course.
                    </div>
                    <button type="button" class="btn btn-info join" name="button" style="margin-top:-2%; margin-bottom:2%;">Join Course</button>

                  </div>
                </div>
              </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card " style="height:400px; margin-top:5%; color:#333;">
                <div class="card-block " style="margin-top:5%;margin-left:5%;">
                <strong>Contact Us:</strong>
                <div class="contact">
                  <p>Tel: (855)12 555 434</p>
                  <p>H/P: (855)12 643 653</p>
                  <p>Email: ppit@gmail.com</p>
                  <p>website: www.ppit.edu</p>
                  <p>Address: st #421 phnom phen......</p>
                </div>

                </div>
              </div>
            </div>


          </div>

        </div>


      </div>
    </div>
    <!-- /.row -->
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Full Name:</label>
              <input type="text" class="form-control" ng-model="name" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Sex:</label>
              <select class="form-control" ng-model="sex" >
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email:</label>
              <input type="email" class="form-control" ng-model="email" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Phone:</label>
              <input type="text" class="form-control" ng-model="phone" id="recipient-name">
              <input type="hidden" ng-model="role" name="role" value="2">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Study Time:</label>
              <input class="form-control mydate"  ng-model="studyTime" type="text" placeholder="study Time">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="registerCourse()">Join</button>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript">
$('.join').on('click',function(){
  $('#register').modal('show');
});
$('#nextCon').on('click',function(){
$('#course').carousel('next');
});
$('#prev').on('click', function(){
$('#course').carousel('prev');
});
$('.mydate').datepicker({
   format: "yyyy-mm-dd",
   clearBtn: true,
   autoclose: true
 });
</script>






  <!-- /.container -->

<!-- Footer -->
