    <div class="bar navbar-dark bg-info fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <a class="navbar-brand" href="#">Kamcourse</a>

          </div>
        

        </div>


      </div>
    </div>
    <div class="login-page " id ="div-login">
      <div class="form">
        <form class="login-form form-login">
          <input type="text" ng-model="username" placeholder="username"/>
          <input type="password" ng-model="password" placeholder="password"/>
          <button id="login" ng-click="loginAdmin()">login</button>
          <button id="forget">forget password</button>

        </form>
      </div>
    </div>
