
    <!-- Page Content -->
    <div class="container" >
      <div class="row main form"  >

          <div class="col-sm-12">
            <h4 style="color:#17A2B8; margin-top:1%;">Create New Course</h4>
            <hr>
          </div>



        <div class="col-sm-6"  >
          <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label">Course Title</label>
            <div class="col-9">
              <input class="form-control" ng-model="title" type="text" placeholder="Course Title">
            </div>
          </div>

         <div class="form-group row">
          <label class="col-3 col-form-label" for="exampleSelect1">Category</label>
          <div class="col-9">
            <select class="form-control" ng-model="category" >
              <option >Choose...</option>
              <option>IT Engineering</option>
              <option>Civil Engineering</option>
              <option>Architechture</option>
              <option>Mechanical Engineering</option>
              <option>Electrical Engineering</option>
              <option>Japanes Languages</option>

            </select>
          </div>

        </div>
        <div class="form-group row">
         <label class="col-3 col-form-label" for="exampleSelect1">Schedul</label>
         <div class="col-9">
           <select class="form-control" ng-model="schedule">
             <option >Choose...</option>
             <option>Flexible</option>
             <option>weekday</option>
             <option>weekend</option>
             <option>Fix</option>

           </select>
         </div>

       </div>
       <div class="form-group row">
         <label for="example-text-input" class="col-3 col-form-label"> Study Time</label>
         <div class="col-9">
           <input class="form-control " ng-model="study_time" type="text" placeholder="Study Time">
         </div>
       </div>
       <div class="form-group row">
         <label for="example-text-input" class="col-3 col-form-label"> Start Date</label>
         <div class="col-9">
           <input class="form-control mydate" ng-model="start_date" type="text" placeholder="Start Date">
           <script type="text/javascript">
           $('.mydate').datepicker({
              format: "yyyy-mm-dd",
              clearBtn: true,
              autoclose: true
            });
           </script>
         </div>
       </div>
       <div class="form-group row">
         <label for="example-text-input" class="col-3 col-form-label"> Duration</label>
         <div class="col-9">
           <input class="form-control" ng-model="duration" type="text" placeholder="Duration">
         </div>
       </div>
       <div class="form-group row">
         <label for="example-text-input" class="col-3 col-form-label"> Leturer</label>
         <div class="col-9">
           <input class="form-control" ng-model="lecturer" type="text" placeholder="leture">
         </div>
       </div>
       <div class="form-group row">
         <label for="example-text-input" class="col-3 col-form-label">charge Feed</label>
         <div class="col-9">
           <input class="form-control" ng-model="fee" type="text" placeholder="charge Feed">
         </div>
       </div>
       <div class="form-group row">
         <label for="example-text-input" class="col-3 col-form-label"  >Picture</label>
         <div class="col-9">
           <input class="form-control" ng-model="photo" type="text" id="pic" placeholder="Picture url" >
         </div>
       </div>





        </div>
        <!-- right-bar -->
        <div class="col-sm-6">

          <div class="form-group row" >
            <label for="example-text-input" class="col-2 col-form-label">Video</label>
            <div class="col-10">
              <input class="form-control" ng-model="video" type="text"  placeholder="video url">
            </div>
          </div>
          <div class="form-group row" style="margin-top:-3%;">
           <label class="col-8 col-form-label" for="exampleTextarea">Course Description</label>
           <div class="col-12">
             <textarea class="form-control " ng-model="description" id="exampleTextarea" rows="8"></textarea>

           </div>
         </div>
          <div class="form-group row" style="margin-top:-3%;">
           <label class="col-8 col-form-label" for="exampleTextarea">Course outline</label>
           <div class="col-12">
             <textarea class="form-control " ng-model="outline" id="exampleTextarea" rows="8"></textarea>

           </div>
         </div>
         <div class="row">
           <div class="col-sm-12  text-center ">
             <button type="button" id="btnOk" ng-click="btnSaveNext()" ng-model="btnSave" class="btn btn-success " name="button">Save & Next</button>
             <button type="button" class="btn btn-info " name="button">Save & Close</button>
           </div>


         </div>
         <br>
       </div>


      </div>
      <!-- /.row -->

    </div>
    <br>
    <!-- Modal -->
    <div class="modal " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form class="form-upload " style="display:none;">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Url Image</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control"  placeholder="url Image">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">file Image</label>
                    <div class="col-sm-10">
                      <label class="custom-file col-sm-10">
                        <input type="file" id="file" ng-model="image" class="form-control custom-file-input ">
                        <span class="custom-file-control namefile"></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-primary upload" ng-click="uploadImg()">Upload</button>
                    </div>
                  </div>
                </form>
                <div class="row list-Gallery">
                  <div class="row">
                    <div class="form-group">
                      <button type="button" class="btn btn-info form-control addImage" name="button">Add image</button>

                    </div>
                  </div>
                  <div class="row" ng-init="getGallery()">


                        <div class="col-sm-3" ng-repeat="gallery in dataGallery">
                          <img src="{{gallery.image}}" width="100%" height="150" alt="">
                        </div>

                  </div>

                </div>


            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

<!-- <script type="text/javascript">
$('#pic').on('click',function(){
  $('#exampleModal').modal('show');

});
$('#url').on('click',function(){
  $('.file').val(null);
  $('.namefile').text(null);
});
$('#file').change(function(e){
    $('#url').val(null);
    var fileName = e.target.files[0].name;
    $('.namefile').text(fileName);

});
$('.addImage').on('click',function(){
    $('.list-Gallery').attr('style','display:none');
    $('.form-upload').attr('style','display:block');
});
$('.upload').on('click',function(){
    Close();
});
$('.close').on('click',function(){
    Close();
});
function Close(){
  $('.list-Gallery').attr('style','display:block');
  $('.form-upload').attr('style','display:none');
}
</script>
 -->



    <!-- /.container -->

    <!-- Footer -->
