<header  class="bg-header" ng-include="'template/menu/backEnd/menu.html'">
</header>
<!-- Page Content -->
<div class="container"  >
  <div class="row main home " style="background:#fff;" >
    <div class="col-sm-12 ">

        <div class="row" ng-init="getCategory()">
          <div class="col-sm-12" >
            <form class="form-inline" style="margin-top:2%; color:#333;">
              <button type="submit" class="btn btn-info" ng-click="btnInsertCate()">Insert</button>

              <div class="form-group mx-sm-3">
                <label for="inputPassword2" class="sr-only"></label>
                <input type="text" class="form-control" ng-model="searchCategory.category_name" placeholder="Filter category....">
              </div>
            </form>
            <hr>

          </div>
        </div>
        <div class="col-sm-12">
          <table class=" table table-bordered table-responsive" style=" color:#333;">
            <thead class="table-success">
              <tr>

                <th>Category Name</th>
                <th>Description</th>
                <th>Category Cover</th>
                <th>Other Info</th>
                <th>Action</th>


              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="category in categoryList.slice(((bigCurrentPage-1)*bigItemsPerPage), ((bigCurrentPage)*bigItemsPerPage)) | filter:searchCategory | orderBy:'category_name'">
                <td >{{category.category_name}}</td>
                <td><p>{{category.category_description}}</p></td>
                <td>
                  <thumbnail file-type="image" source="{{base+category.category_cover}}" max-height="100" max-width="100"></thumbnail>
                  <!-- <a href="" >
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    {{category.category_cover.substring(25)}}
                  </a> -->
                </td>
                <td><p>{{category.category_other_info}}</p></td>
                <td>
                  <a href="" class="text-primary" ng-click="btnEditCate(category.category_id)" >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a href="" class="text-danger" ng-click="deleteCategory(category.category_id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>

              </tr>

            </tbody>
          </table>
          <div class="col-sm-12 ">
            <div class="mt-4 ">
              <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" items-per-page="bigItemsPerPage" max-size="maxSize" class="pagination-sm " boundary-link-numbers="true" rotate="false"></ul>
            </div>
          </div>
        </div>

      </div>




  </div>
  <!-- /.row -->

</div>
<br>





<!-- /.container -->

<!-- Footer -->
