<header  class="bg-header" ng-include="'template/menu/backEnd/menu.html'">
</header>
<!-- Page Content -->
<div class="container"  >
  <div class="row main home " style="background:#fff;" >
    <div class="col-sm-12 ">

        <div class="row" ng-init="getSchedule()">
          <div class="col-sm-12" >
            <form class="form-inline" style="margin-top:2%; color:#333;">
              <button type="submit" class="btn btn-info" ng-click="btnInsertSche()">Insert</button>

              <div class="form-group mx-sm-3">
                <label for="inputPassword2" class="sr-only"></label>
                <input type="text" class="form-control mydate" ng-model="searchSchedule.schedule_time" placeholder="Filter schedule time....">
              </div>
            </form>
            <hr>

          </div>
        </div>
        <div class="col-sm-12">
          <table class=" table table-bordered table-responsive" style=" color:#333;">
            <thead class="table-success">
              <tr>

                <th>Schedule Time</th>
                <th>Description</th>
                <th>Schedule Cover</th>
                <th>Start Date</th>
                <th>Turn</th>
                <th>Other Info</th>
                <th>Action</th>


              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="schedule in scheduleList.slice(((bigCurrentPage-1)*bigItemsPerPage), ((bigCurrentPage)*bigItemsPerPage)) | filter:searchSchedule | orderBy:'schedule_time'">
                <td >{{schedule.schedule_time}}</td>
                <td><p>{{schedule.schedule_description}}</p></td>
                <td>
                  <thumbnail file-type="image" source="{{schedule.schedule_cover}}" max-height="100" max-width="100"></thumbnail>
                </td>
                <td><p>{{schedule.schedule_start_date}}</p></td>
                <td><p>{{schedule.schedule_turn}}</p></td>
                <td><p>{{schedule.schedule_other_info}}</p></td>
                <td>
                  <a href="" class="text-primary" ng-click="btnEditSche(schedule.schedule_id)" >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a href="" class="text-danger" ng-click="deleteSche(schedule.schedule_id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>

              </tr>

            </tbody>
          </table>
          <div class="col-sm-12 ">
            <div class="mt-4 ">
              <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" items-per-page="bigItemsPerPage" max-size="maxSize" class="pagination-sm " boundary-link-numbers="true" rotate="false"></ul>
            </div>
          </div>
        </div>

      </div>




  </div>
  <!-- /.row -->

</div>
<br>



<script type="text/javascript">
$('.mydate').datepicker({
   format: "yyyy-mm-dd",
   clearBtn: true,
   autoclose: true
 });
</script>


<!-- /.container -->

<!-- Footer -->
