  <any ng-include="'template/navigation/navigation.html'"></any>
    <!-- Page Content -->
    <div class="container" >
      <div class="row main form"  ng-init="filterSchedule()">

          <div class="col-sm-12">
            <h4 style="color:#17A2B8; margin-top:1%;">Edit Schedule</h4>
            <hr>
          </div>



        <div class="col-sm-6"  >
          <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label">Time</label>
            <div class="col-9">
              <input class="form-control " ng-model="schedule_id" type="hidden" >

              <input class="form-control " ng-model="time" type="text" placeholder="schedule Time">
            </div>
          </div>
          <!-- start date -->
           <div class="form-group row">
             <label for="example-text-input" class="col-3 col-form-label">Start Date</label>
             <div class="col-9">
               <input class="form-control mydate" ng-model="start_date" type="text" placeholder="Start Date">
             </div>
           </div>
       <div class="form-group row">
         <label class="col-8 col-form-label" for="exampleTextarea">Description</label>
         <div class="col-12">
           <div text-angular="text-angular" name="htmlcontent" ng-model="description" ta-disabled='false'
            ta-toolbar="[['bold','underline','italics','undo','redo', 'quote','p','pre','ul','ol', 'insertImage','insertLink','unlink']]"></div>
        </div>
       </div>




        </div>
        <!-- right-bar -->
        <div class="col-sm-6">

          <div class="form-group row" >
            <label for="example-text-input" class="col-3 col-form-label">Picture</label>
            <div class="col-9">
              <input class="form-control" ng-model="photo"  id="pic" type="text" placeholder="Picture url">
            </div>

         </div>
         <div class="form-group row" >
           <label for="example-text-input" class="col-3 col-form-label">Turn</label>
           <div class="col-9">
             <select class="form-control" ng-model="turn" >
               <option  ng-selected="true" value="">--Select Turn--</option>
               <option value="Monday-Friday">Monday-Friday</option>
               <option  value="Saturday-Sunday">Saturday-Sunday</option>
               <option  value="Mon-Fir(night)">Mon-Fir(night)</option>
               <option  value="Sat-Sun(night)">Sat-Sun(night)</option>
             </select>
           </div>
        </div>
          <div class="form-group row" >
           <label class="col-8 col-form-label" for="exampleTextarea">other Info</label>
           <div class="col-12">
             <div text-angular="text-angular" name="htmlcontent" ng-model="other_info" ta-disabled='false'
              ta-toolbar="[['bold','underline','italics','undo','redo', 'quote','p','pre','ul','ol', 'insertImage','insertLink','unlink']]"></div>
          </div>
         </div>

       </div>
       <div class=" form-group row">
         <div class="col-sm-12  text-center ml-3 ">
           <button type="button" id="btnOk" ng-click="updateSchedule()" ng-model="btnSave" class="btn btn-success " name="button">Save</button>
           <button type="button" class="btn btn-info "  ng-click="canCel()" id="saveColse" name="button">cancel</button>
         </div>
       </div>


      </div>
      <!-- /.row -->

    </div>


    <br>
    <!-- Modal -->
    <div class="modal " id="exampleModal" ng-model="galleryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="position:fixed;" >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Gallery</h5>
            <button type="button" class="close" ng-click="closeModule()" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
          </div>
          <div class="modal-body" >
            <div class="container">
                <div class="form-group list-Gallery " >
                  <form class="form-inline mb-2">
                    <div class="form-group">
                      <label class="custom-file col-sm-12">
                        <span class="custom-file-control namefile"></span>
                        <input type="file" id="file" ng-model="image" onchange="angular.element(this).scope().uploadedFile(this)"  accept="image/*" class="form-control custom-file-input ">
                      </label>

                    </div>
                    <div class="form-group  mx-sm-4 uploadImg" style="display:none;">
                      <button type="button" class="btn btn-info upload" ng-click="uploadFile()">upload</button>
                    </div>
                  </form>
                  <div class="form-group">
                    <div role="alert">
                      <span class="error" ng-show="lagreFile" style="color:red;">
                        This File is too lagre! please attch file less than 2 MB.</span>
                    </div>
                  </div>
                  <div class="form-group progress" ng-show="progress" style="display:none;" >
                    <div class="progress"  >
                        <div class="progress-bar bg-info" role="progressbar" style="width:{{counter}}%;" aria-valuenow="count" aria-valuemin="0" aria-valuemax="max">{{status}}</div>
                    </div>
                  </div>
                  <div class="row form-group" ng-init="getGallery()" style="border-top: solid 1px #b5b3b5;">
                    <div class="col-sm-3 pic-course " ng-repeat="gallery in dataGallery">
                        <a href="" class="float-right remove-pic" ng-click="deletePic(gallery.gallery_id)">
                          <i class="fa fa-times-circle-o  fa-lg" aria-hidden="true"></i>
                        </a>
                        <img src="{{base+gallery.gallery_image}}" ng-click="selectPic(gallery.gallery_image)"  data-dismiss="modal" width="100%" height="150" alt="">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript">

    $('.chooseImg').on('click',function(){
      $('.fileImg').click();
    });
    $('.fileImg').on('change',function(){
      $('.uploadImg').attr('style','display:block');
      readURL(this);
    });
    $('.cancel').on('click',function(){
      $('.previewImg').attr('style','display:none');
      $('.list-Gallery').attr('style','display:block');
    });

    $('#pic').on('click',function(){
      $('#exampleModal').modal('show');

    });
    $('#url').on('click',function(){
      $('.file').val(null);
      $('.namefile').text(null);
    });
    $('#file').change(function(e){
        $('.uploadImg').attr('style','display:block');
        $('.progress').attr('style','display:none');
        $('#url').val(null);
        var fileName = e.target.files[0].name;
        $('.namefile').text(fileName);

    });
    $('.addImage').on('click',function(){
        $('.list-Gallery').attr('style','display:none');
        $('.form-upload').attr('style','display:block');
    });
    $('.upload').on('click',function(){
        $('.progress').attr('style','display:block');
    });
    $('.close').on('click',function(){
        Close();
    });
    function Close(){
      $('.uploadImg').attr('style','display:none');
      $('.progress').attr('style','display:none');
      $('.file').val(null);
      $('.namefile').text(null);
    }
  </script>


    <!-- /.container -->

    <!-- Footer -->
