<header  class="bg-header" ng-include="'template/menu/backEnd/menu.html'">
</header>
    <!-- Page Content -->
    <div class="container"  >
      <div class="row main home"  >
        <div class="col-sm-8" ng-init="getCourse()" >
          <!-- list-course -->
          <div class="row subject" ng-repeat="course in courseData.slice(((bigCurrentPage-1)*bigItemsPerPage), ((bigCurrentPage)*bigItemsPerPage))" >
                <div class="col-sm-4" >
                  <div class="course">
                     <thumbnail file-type="image" source="{{base+course.course_cover}}" max-height="260" max-width="260"></thumbnail>
                    <div class=" text-center price ">
                      <p >{{course.course_fee}}$/course</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6"  >
                  <div class="short-info ">
                    <p><strong>Course: </strong> {{course.course_name}}</p>
                    <hr >
                    <p><strong>category: </strong> {{course.category_name}}</p>
                    <p><strong>create Date: </strong>{{course.course_create_date | date:'dd-MMMM-yyyy' }}</p>
                    <p><strong>Update Date: </strong>{{course.course_update_date | date:'dd-MMMM-yyyy' }}</p>

                  </div>
                </div>
                <div class="col-sm-2 ">
                  <div class="admin-btn text-center">
                    <button ng-click="btnUpdate(course.course_id)" class="btn btn-sm bg-blue float-sm-right">Update</button>
                    <button type="button" ng-click="deleteCourse(course.course_id)" class="btn btn-sm  bg-danger float-sm-right" >Delete</button>
                  </div>
                </div>
          </div>
          <div class="row subject"  >
                <div class="col-sm-12 ">
                  <div class="mt-4 ">
                    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" items-per-page="bigItemsPerPage" max-size="maxSize" class="pagination-sm " boundary-link-numbers="true" rotate="false"></ul>
                  </div>
                </div>
          </div>




        </div>
        <!-- right-bar -->
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="card " style="height:100px; margin-top:2%;">
                <div class="card-block text-center">
                    <button type="button" class="btn bg-success" ng-click="btnCreate()" > Create Course</button>
                </div>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card " style="height:400px; margin-top:2%;">
                <div class="card-block">

                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
      <!-- /.row -->
    </div>
    <br>







    <!-- /.container -->

    <!-- Footer -->
