<any ng-include="'template/navigation/navigation.html'"></any>
<!-- Page Content -->
<div class="container" ng-init="filterCourse()" >
  <form name="course">
  <div class="row main form"  >

      <div class="col-sm-12">
        <h4 style="color:#17A2B8; margin-top:1%;">Update Course</h4>
        <hr>
      </div>



    <div class="col-sm-6"  >
      <div class="form-group row">
        <label for="example-text-input" class="col-3 col-form-label">Name</label>
        <div class="col-9">
          <input type="hidden"  ng-model="id"  value="">
          <input class="form-control"  ng-model="name" type="text" required placeholder="Course Name">
        </div>
      </div>

      <div class="form-group row">
       <label class="col-3 col-form-label" for="exampleSelect1" >Category</label>
       <div class="col-9" ng-init="getCategory()">
         <select class="form-control" ng-model="category" >

           <option ng-repeat="cate in categoryData" ng-value="{{cate.category_id}}">{{cate.category_name}}</option>

         </select>
       </div>
     </div>

   <div class="form-group row">
     <label for="example-text-input" class="col-3 col-form-label"> Duration</label>
     <div class="col-9">
       <input class="form-control" name="duration" ng-model="duration" ng-pattern="/\s*\w*\s*$/" required type="text" placeholder="Course Duration">
       <div role="alert">
         <span class="error" ng-show="course.duration.$error.pattern" style="color:red;">
           Not valid Text!</span>
       </div>
     </div>
   </div>
   <div class="form-group row" style="margin-top:-3%;">
    <label class="col-8 col-form-label" for="exampleTextarea">Course Description</label>
    <div class="col-12">
      <div text-angular="text-angular" name="htmlcontent" ng-model="description" ta-disabled='false'
       ta-toolbar="[['bold','underline','italics','undo','redo', 'quote','p','pre','ul','ol', 'insertImage','insertLink','unlink']]"></div>

    </div>
  </div>




    </div>
    <!-- right-bar -->
    <div class="col-sm-6">
      <div class="form-group row">
        <label for="example-text-input" class="col-3 col-form-label">Course Fee</label>
        <div class="col-9">
          <input class="form-control" name="fee" ng-model="fee" min="0" max="1000" type="number" required placeholder="Input Course Fee">
          <div role="alert">
            <span class="error" ng-show="course.fee.$error.number" style="color:red;">
              Not valid Number!</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-3 col-form-label">Picture</label>
        <div class="col-9">
          <input class="form-control" ng-model="photo" name="photo"   id="pic" type="text" required placeholder="Picture url">
          <div role="alert">
            <span class="error" ng-show="course.photo.$error.text" style="color:red;">
              Not valid file!</span>
          </div>
        </div>
      </div>
         <div class="form-group row" >
           <label for="example-text-input" class="col-3 col-form-label">Video URL</label>
           <div class="col-9">
             <input class="form-control" name="video" ng-model="video" type="text" placeholder="Input Course Video URL">

           </div>
         </div>


      <div class="form-group row" style="margin-top:-3%;">
       <label class="col-8 col-form-label" for="exampleTextarea">Course Outline</label>
       <div class="col-12">
         <div text-angular="text-angular" name="htmlcontent" ng-model="outline" ta-disabled='false'
          ta-toolbar="[['bold','underline','italics','undo','redo', 'quote','p','pre','ul','ol', 'insertImage','insertLink','unlink']]"></div>

       </div>
     </div>
   </div>
   <div class="form-group row">
     <div class="col-sm-12  text-center " style="margin-left:2%;">
       <button type="button"  ng-click="updateCourse()"  class="btn btn-success " name="button">update</button>
       <button type="button" class="btn btn-primary " ng-click="btnCancel()" id="cancel" >Cancel</button>
     </div>
   </div>

  </div>
  <!-- /.row -->
</form>
</div>


<br>
<!-- Modal -->
<div class="modal " id="exampleModal" ng-model="galleryModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="position:fixed;" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Gallery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
      <div class="modal-body" >
        <div class="container">
            <div class="form-group list-Gallery " >
              <form class="form-inline mb-2">
                <div class="form-group">
                  <label class="custom-file col-sm-12">
                    <span class="custom-file-control namefile"></span>
                    <input type="file" id="file" ng-model="image" onchange="angular.element(this).scope().uploadedFile(this)"  accept="image/*" class="form-control custom-file-input ">
                  </label>
                </div>
                <div class="form-group  mx-sm-4 uploadImg" style="display:none;">
                  <button type="button" class="btn btn-info upload" ng-click="uploadFile()">upload</button>
                </div>
              </form>
              <div class="form-group progress" style="display:none;">
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width:{{counter}}%;" aria-valuenow="counter" aria-valuemin="0" aria-valuemax="max">{{status}}</div>
                </div>
              </div>
              <div class="row" ng-init="getGallery()" style="border-top: solid 1px #b5b3b5;">
                <div class="col-sm-3 pic-course " ng-repeat="gallery in dataGallery">
                    <a href="" class="float-right remove-pic" ng-click="deletePic(gallery.gallery_id)">
                      <i class="fa fa-times-circle-o  fa-lg" aria-hidden="true"></i>
                    </a>
                    <img src="{{base+gallery.gallery_image}}" ng-click="selectPic(gallery.gallery_image)"  data-dismiss="modal" width="100%" height="150" alt="">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

$('.chooseImg').on('click',function(){
  $('.fileImg').click();
});
$('.fileImg').on('change',function(){
  $('.uploadImg').attr('style','display:block');
  readURL(this);
});
$('.cancel').on('click',function(){
  $('.previewImg').attr('style','display:none');
  $('.list-Gallery').attr('style','display:block');
});

$('#pic').on('click',function(){
  $('#exampleModal').modal('show');

});
$('#url').on('click',function(){
  $('.file').val(null);
  $('.namefile').text(null);
});
$('#file').change(function(e){
    $('.uploadImg').attr('style','display:block');
    $('.progress').attr('style','display:none');
    $('#url').val(null);
    var fileName = e.target.files[0].name;
    $('.namefile').text(fileName);

});
$('.addImage').on('click',function(){
    $('.list-Gallery').attr('style','display:none');
    $('.form-upload').attr('style','display:block');
});
$('.upload').on('click',function(){
    $('.progress').attr('style','display:block');
});
$('.close').on('click',function(){
    Close();
});
function Close(){
  $('.uploadImg').attr('style','display:none');
  $('.progress').attr('style','display:none');
  $('.file').val(null);
  $('.namefile').text(null);
}

function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}


</script>
