<any ng-include="'template/navigation/navigation.html'"></any>
<div class="menu">
  <nav class=" navbar-expand-lg ">

    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#!/home">
              <i class="fa fa-home " aria-hidden="true"></i>

                Home

            </a>
          </li>
          <br>
          <li class="nav-item active">

            <a class="nav-link" href="#!/course" ng-class="{'active': $route.current.activetab == 'course'}">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>

              Courses </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-id-badge" aria-hidden="true"></i>

              Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/contact">
              <i class="fa fa-envelope" aria-hidden="true"></i>

              Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>

              Traning</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
